.aboutSection {
  position: absolute;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  top: 115%;
  height: 100%;
  padding: 10px;
  width: 100vw;
  /* From https://css.glass */
  background: hsl(240, 10%, 5%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#about {
  color: white;
  font-weight: 300;
  height: fit-content;
  width: fit-content;
  font-size: calc(2rem + 1vw);
}

#aboutDesc {
  width: 80%;
  height: fit-content;
  font-size: calc(1rem + 0.82vw);
  text-align: center;
  color: gray;
  margin-right: 5%;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 4px solid rgb(253, 97, 253);
  left: 0;
  bottom: -7px;
  border-radius: 45%;
  height: 10px;
}

@media (max-width: 600px) {
  .aboutSection {
    flex-direction: column;
    height: 100%;
    row-gap: 20px;
  }
  #about {
    transform: rotate(0deg);
  }
  #aboutDesc {
    margin-right: 0;
  }
}
