.aboutSection {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 115%;
  height: fit-content;
  width: 100vw;
}

#about {
  color: rgb(255, 255, 0, 0.9);
  font-weight: 300;
  transform: rotate(90deg);
  height: fit-content;
  width: fit-content;
  font-size: calc(2rem + 1vw);
  text-shadow: 2px -3px rgb(253, 76, 253);
  white-space: nowrap;
}

#aboutDesc {
  width: 80%;
  height: fit-content;
  font-size: calc(1rem + 0.82vw);
  text-align: center;
  color: gray;
  margin-right: 5%;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 4px solid rgb(253, 97, 253);
  left: 0;
  bottom: -7px;
  border-radius: 45%;
  height: 10px;
}

@media (max-width: 600px) {
  .aboutSection {
    flex-direction: column;
    height: fit-content;
    row-gap: 20px;
  }
  #about {
    transform: rotate(0deg);
  }
  #aboutDesc {
    margin-right: 0;
  }
}
