.aboutSection {
  position: relative;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  /* padding: 10px; */
  width: 100vw;
  top: 40%;
  transform: translateY(-40%);
}
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#about {
  color: white;
  height: fit-content;
  width: fit-content;
  font-size: calc(3.5rem + 1vw);
  background-image: linear-gradient(to right, #553c9a, #ac86d2);
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.mask {
  overflow: hidden;
}
#aboutDesc {
  width: 60%;
  height: fit-content;
  font-size: calc(1rem + 0.82vw);
  text-align: center;
  color: rgb(145, 136, 136);
  font-weight: 300;
  line-height: 140%;
}
#connect {
  color: #ac86d2;
  font-weight: 200;
  /* font-style: italic; */
}
#connect:hover {
  text-decoration: line-through;
  cursor: pointer;
}
@media (max-width: 600px) {
  .aboutSection {
    row-gap: 10px;
  }
  #about {
    font-size: calc(3rem + 1vw);
  }
  #aboutDesc {
    font-weight: 300;
    width: 80vw;
  }
}
